@import "./copilotkit/colors.css";
@import "./copilotkit/popup.css";
@import "./copilotkit/sidebar.css";
@import "./copilotkit/window.css";
@import "./copilotkit/header.css";
@import "./copilotkit/button.css";
@import "./copilotkit/messages.css";
